/* container for the section */

.max-width {
    max-width: 56rem;
    margin-inline: auto;
    padding-block: 2rem;
}


h1, h2, h3 {
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.page-header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #f9f5ed;

    h2 {
        margin-bottom: .5rem
    }
}
